@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family:'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(rgb(0, 36, 216), rgb(91, 118, 255), rgb(0, 36, 216) );
    color: rgb(255, 255, 255);
    background-size: cover;
}

.container {
    background-color: rgb(0, 18, 110);
    width: 810px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    flex-wrap: wrap;
}

.header, .content {
    width: 100%;
    margin-bottom: 20px;
}

.header {
    background-color: rgb(0, 102, 174);
    padding: 20px;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.header img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.header div {
    font-size: 24px;
}

.header div p {
    margin: 0;
}

.header .title {
    font-weight: bold;
    font-size: 32px;
}

.header .subtitle {
    color: rgb(197, 197, 197);
}

.content {
    display: flex;
    justify-content: space-between;
}

.left, .right {
    width: 48%;
}

.section {
    margin-bottom: 20px;
}

.section h2 {
    background-color: rgb(84, 154, 204);
    padding: 10px;
    font-size: 18px;
    border-radius: 15px;
    margin: 0;
    margin-bottom: 10px;
}

.section p {
    margin: 0 0 10px 0;
}

.section ul {
    padding-left: 20px;
}

.section ul li {
    margin-bottom: 5px;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(84, 154, 204);
    font-weight: bold;
    padding: 5px 5px;
    border-radius: 5px;
    transition: 0.5s;
}

a:hover {
    color: rgb(84, 154, 204);
    background-color:rgb(255, 255, 255);
    border-radius: 5px;
    transition: 0.5s;
}